extends ../layouts/pages
block title 
    -var title="dota2"
block content
    header 
        .dota-box 
            .container 
                .row
                    .col-xxl-6.col-md-12  
                        .herosection.pt-5
                            h1.hero-title.text-black.m-0 dota 2
                            p.hero-desk.text-black.my-5 Dota 2 — компьютерная многопользовательская командная игра жанра стратегия в реальном времени с элементами компьютерной ролевой игры, реализация известной карты DotA для игры Warcraft III в отдельном клиенте.
                            p.hero-desk.text-black В игре участвуют две команды по пять человек. Одна команда играет за светлую сторону, другая — за тёмную. Каждый игрок управляет одним героем, каждый из которых обладает особыми навыками и умениями.
                            

