extends ../layouts/pages
block title 
    -var title="fortnite"
block content
    header 
        .fortnite-box 
            .container 
                .row
                    .col-xxl-6.col-md-12  
                        .herosection.pt-5
                            h1.hero-title.text-black.m-0 fortnite 
                            p.hero-desk.text-black.my-5Fortnite предлагает своим игрокам массу разнообразных возможностей. Высаживайтесь на остров и поборитесь за звание сильнейшего игрока — или команды. Создайте остров со своими правилами игры. Развлекайтесь с друзьями на островах, которые создали другие игроки… или сразитесь с Бурей, бросив вызов полчищам чудовищ.
                            p.hero-desk.text-black В Fortnite вы можете выбрать из тысяч разных игр: какие-то из них созданы Epic Games, но большинство игр появилось благодаря участникам игрового сообщества.

