extends ../layouts/pages
block title 
    -var title="fortnite"
block content
    header 
        .fortnite-box 
            .container 
                .row
                    .col-xxl-6.col-md-12  
                        .herosection.pt-5
                            h1.hero-title.text-black.m-0 fortnite 
                            p.hero-desk.text-black.my-5Fortnite предлагает своим игрокам массу разнообразных возможностей. Высаживайтесь на остров и поборитесь за звание сильнейшего игрока — или команды. Создайте остров со своими правилами игры. Развлекайтесь с друзьями на островах, которые создали другие игроки… или сразитесь с Бурей, бросив вызов полчищам чудовищ.
                            p.hero-desk.text-black В Fortnite вы можете выбрать из тысяч разных игр: какие-то из них созданы Epic Games, но большинство игр появилось благодаря участникам игрового сообщества.
    main 
        section.gallery.pt-5               
            .container 
                h1.gallerititle Галерея         
                .swiper.mySwiper 
                    .swiper-wrapper 
                        .swiper-slide 
                            img(src="/pic/slider/fortnite-slide-1.png", alt="")
                        .swiper-slide 
                            img(src="/pic/slider/fortnite-slide-2.png", alt="")
                    .swiper-button-next 
                    .swiper-button-prev
                    .swiper-button-next    
        section.articls.py-5 
            .container 
                h1.gallerytitle Статьи
                .row 
                    .col-md-4 
                        .card   
                            .card-body 
                                img.card-img-top.mb-4(src="pic/articles/fortnite-article-1.png", alt="")
                                h5.card-title Выполняйте 
                                    br 
                                    | новые задания
                                p.card-text "Играйте по-своему" в Fortnite чтобы получить опыт и другие награды
                                a.btn.btn-primary(href="#") читать
                    .col-md-4 
                        .card   
                            .card-body 
                                img.card-img-top.mb-4(src="pic/articles/fortnite-article-2.png", alt="")
                                h5.card-title Обновление 21.50
                                    br
                                    | творческого режима
                                p.card-text Обновление добавляет новое устройства "Конструктор холодного оружия"
                                a.btn.btn-primary(href="#") читать    
                    .col-md-4 
                        .card   
                            .card-body 
                                img.card-img-top.mb-4(src="pic/articles/fortnite-article-3.png", alt="")
                                h5.card-title Набор заданий фантазма для повышения уровня
                                p.card-text Набор заданий фантазма для повышения уровня материализовался в Fortnite
                                a.btn.btn-primary(href="#") читать                    

                        

