extends ../layouts/pages
block title 
    -var title="gta"
block content
    header 
        .gta-box 
            .container 
                .row
                    .col-xxl-6.col-md-12  
                        .herosection.pt-5
                            h1.hero-title.text-black.m-0 gta 
                            p.hero-desk.text-black.my-5 Легендарное продолжение популярной серии Grand Theft Auto. Местом действия стал город Лос-Сантос, полюбившийся ещё в GTA: San Andreas.
                            p.hero-desk.text-black Впервые игра расскажет историю сразу трех персонажей: Майкла, Тревора и Франклина, между которыми вы сможете переключаться в любое время.
    main 
        section.gallery.pt-5               
            .container 
                h1.gallerititle Галерея         
                .swiper.mySwiper 
                    .swiper-wrapper 
                        .swiper-slide 
                            img(src="pic/slider/gta-slide-1.png", alt="")
                        .swiper-slide 
                            img(src="pic/slider/gta-slide-2.png", alt="")
                    .swiper-button-next 
                    .swiper-button-prev
                    .swiper-button-next    
        section.articls.py-5 
            .container 
                h1.gallerytitle Статьи
                .row 
                    .col-md-4 
                        .card   
                            .card-body 
                                img.card-img-top.mb-4(src="pic/articles/gta-article-1.png", alt="")
                                h5.card-title Реалистичная графика                                 
                                p.card-text NaturalVision Evolved. Это незавершенный визуальный мод, который в настоящее время находится на стадии раннего доступа.
                                a.btn.btn-primary(href="#") читать
                    .col-md-4 
                        .card   
                            .card-body 
                                img.card-img-top.mb-4(src="pic/articles/gta-article-2.png", alt="")
                                h5.card-title Сохранение -
                                    br
                                    |  100% прохождение
                                p.card-text Сохранение сделано на последней версии игры и все пройдено.
                                a.btn.btn-primary(href="#") читать    
                    .col-md-4 
                        .card   
                            .card-body 
                                img.card-img-top.mb-4(src="pic/articles/gta-article-3.png", alt="")
                                h5.card-title Новый электропикап 
                                    br
                                    | Tesla Cybertruck
                                p.card-text Новый электропикап Tesla Cybertruck появится в GTA V
                                a.btn.btn-primary(href="#") читать  
                            

