extends ../layouts/pages
block title 
    -var title="gta"
block content
    header 
        .gta-box 
            .container 
                .row
                    .col-xxl-6.col-md-12  
                        .herosection.pt-5
                            h1.hero-title.text-black.m-0 gta 
                            p.hero-desk.text-black.my-5 Легендарное продолжение популярной серии Grand Theft Auto. Местом действия стал город Лос-Сантос, полюбившийся ещё в GTA: San Andreas.
                            p.hero-desk.text-black Впервые игра расскажет историю сразу трех персонажей: Майкла, Тревора и Франклина, между которыми вы сможете переключаться в любое время.
                            

