doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 Парк имени 300-ле́тия Санкт-Петербу́рга[1] (до 25 декабря 2015 года — парк 300-ле́тия Санкт-Петербу́рга[2]) — парк, расположенный в северо-западной части Санкт-Петербурга на границе Приневской низменности в северной части Невской губы. С севера парк ограничен Приморским проспектом и Приморским шоссе, а с востока
        p  Яхтенной улицей. Общая площадь — 38,58 га.
        img(src="img.logo.png ", alt="")