footer
    .container.footer-content.d-flex.justify-content-center.mt-5.pb-4
        a.text-black.footer-link(href='')  
        a.text-black.footer-link.vk(href='')  
        a.text-black.footer-link(href='')  